@import "tailwindcss";
@import "@nuxt/ui";

html {
  background: #f9fafb;
}

body {
  min-height: 100vh;
  background: #f9fafb;
  color: #111827;
}

button,
a,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}
